* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --dark-color-c: #222;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: var(--dark-color-c);
}
